<%= form_for(computer) do |f| %>
  <% if computer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(computer.errors.count, "error") %> prohibited this computer from being saved:</h2>

      <ul>
      <% computer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4><div class="field">
    <%= f.label :user, "Computer's owner:" %>
    &nbsp
    <%= f.collection_select :user_id, @active_users, :id, :name, selected: current_user.id %>
    &nbsp&nbsp
    <%= f.label :status, "Computer's current status:" %>
    &nbsp
    <%= f.select :status, options_for_select(Computer.statuses.collect { |s| [s[0].humanize, s[0]] }, selected: @computer.status), {} %>
    &nbsp&nbsp
</div></h4>

</br>

<% list_init %>

<h4> <%=list%> Click on the Apple logo in the upper right corner of the screen, and click on About This Mac.</h4>
<h4>A window will pop up with several pieces of information. </h4>
  <div class "field">
    <%= f.label :model, "Computer model (eg. \"MacBook Pro (13-inch, Mid 2012)\" ):" %>
    &nbsp
    <%= f.text_field :model, :size=>"40" %>
    &nbsp&nbsp
    <%= f.label :serial, "Serial number:" %>
    &nbsp
    <%= f.text_field :serial %>
</br>
    <%= f.label :processor, "Processor speed:" %>
    &nbsp
    <%= f.text_field :processor, :size=>"1" %> <strong>GHz</strong>
    &nbsp&nbsp
    <%= f.label :ram, "Memory:" %>
    &nbsp
    <%= f.text_field :ram, :size=>"1" %> <strong>GB</strong>
  </div>

<hr>
<h4> <%=list%> At the top of the About This Mac window, click on Storage.</h4>

  <div class="field">
      <%= f.label :space, "Total hard drive size (the number below the hard drive icon on the left):" %>
      &nbsp
      <%= f.text_field :space, :size=>"2" %> <strong>GB</strong> (1 TB = 1000 GB)
  </div>

<hr>

<h4> <%=list%> Click on the Apple logo again, click on System Preferences..., and then click on Sharing. </h4>

  <div class="field">
      <%= f.label :name, "Computer Name:" %>
      &nbsp
      <%= f.text_field :name %>
      &nbsp&nbsp
  </div>

  <hr>

<h4> <%=list%> Click on the < button in the upper left corner of the window, then click on Network.</h4>
<h4>Make sure you're connected to both wifi and a wired connection.</h4>
<h4>For both of the two connection types on the left sidebar that say "Connected", follow these steps: </h4>
<strong><ol>
  <li>Click on the connection type in the left sidebar of the window</li>
  <li>Click on Advanced... in the lower right corner</li>
  <li>Click on Hardware</li>
  <li>Enter the MAC address into the field on this page</li>
</ol></strong>

  <div class="field">
    <%= f.label :wireless_mac, "Wi-Fi MAC address:" %>
    &nbsp
    <%= f.text_field :wireless_mac %>
    &nbsp&nbsp
    <%= f.label :wired_mac, "Wired MAC address (either Ethernet or an adapter):" %>
    <%= f.text_field :wired_mac %>
  </div>

  <hr>

  <div class="field">
    <%= f.label :comments, "<h4>#{list} Any additional comments:</h4>".html_safe %>
    &nbsp
    <%= f.text_field :comments, :size => 140 %>
    <%= f.hidden_field :manufacturer, :value => :Apple %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
