<%= form_for(computer, url: url) do |f| %>
  <% if computer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(computer.errors.count, "error") %> prohibited this computer from being saved:</h2>

      <ul>
      <% computer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4><div class="field">
    <%= f.label :owner, "Computer's owner:" %>
    &nbsp
    <%= f.collection_select :user_id, @active_users, :id, :name, selected: @computer.user.id, :include_blank => true %>
    &nbsp&nbsp
    <%= f.label :status, "Computer's current status:" %>
    &nbsp
    <%= f.select :status, options_for_select(Computer.statuses.collect { |s| [s[0].humanize, s[0]] }, selected: @computer.status), {} %>
    &nbsp&nbsp
    <%= f.label :manufacturer, "Manufacturer:" %>
    &nbsp
    <%= f.select :manufacturer, Computer.manufacturers.keys.to_a.from(1) %>
</div></h4>

<hr>

<h4> Click <u><%= link_to 'here', sysinfo_path, download: '' %></u> to download a tool that will list lots of information about your computer. </h4>
<h4> Make sure you have <i>both a wireless and wired network connection</i>, then open the file and click Run.</h4>
<h4> Close the square window with the detailed information about your processor.</h4>
<h4> You should see a large rectangular window. Follow these instructions to get the information we need:</h4>
<h5> (You can right-click on the desired line and click on "Copy Result", and then paste it into the appropriate field.) </h5>

<hr>

<h4> <%=list%> That window should display some general information about your computer.</h4>
  <div class "field">
    <%= f.label :name, "Computer Name:" %>
    &nbsp
    <%= f.text_field :name %>
</div>

<hr>

<h4> <%=list%> Click on the + next to Central Processor(s), then on the name of your computer's processor. </h4>

<div class "field">
    <%= f.label :processor, "The number after the @ sign in \"CPU Brand Name\":" %>
    &nbsp
    <%= f.text_field :processor, :size=>"1" %> <strong>GHz</strong>
</div>

<hr>

<h4> <%=list%> Click on the + next to Motherboard, then on the + next to SMBIOS DMI, then on System. </h4>

<div class "field">
    <%= f.label :model, "Product Name:" %>
    &nbsp
    <%= f.text_field :model %>
    &nbsp&nbsp
    <%= f.label :serial, "Product Serial Number:" %>
    &nbsp
    <%= f.text_field :serial %>
    &nbsp&nbsp
    <%= f.label :product, "SKU Number:" %>
    &nbsp
    <%= f.text_field :product %>
</div>

<hr>

<h4> <%=list%> Click on Memory. </h4>

<div class "field">
    <%= f.label :ram, "Total Memory Size:" %>
    &nbsp
    <%= f.text_field :ram, :size=>"1" %> <strong>GB</strong>
</div>

<hr>

<h4> <%=list%> Click on the + next to Drives, then on the + next to (S)ATA/ATAPI Drives, then on the name of your hard drive. </h4>

<div class="field">
    <%= f.label :space, "Drive Capacity (in GB):" %>
    &nbsp
    <%= f.text_field :space, :size=>"2" %> <strong>GB</strong> (1 TB = 1000 GB)
</div>

 <hr>

<h4> <%=list%> Finally, click on the + next to Network to see your computer's network hardware. </h4>
<h4> You should see two entries, one for your wireless connection and one for wired. </h4>
<h4> Click on each of them to get specific information about them. </h4>

  <div class="field">
    <%= f.label :wireless_mac, "Wireless MAC Address:" %>
    &nbsp
    <%= f.text_field :wireless_mac %>
    &nbsp&nbsp
    <%= f.label :wired_mac, "Wired MAC Address:"%>
    &nbsp
    <%= f.text_field :wired_mac %>
  </div>

  <hr>

  <h4> <%=list%> Any additional comments? Things like:</h4>

  <h5><ul><strong>
      <li>Network issues</li>
      <li>Unexpected shutdowns/reboots</li>
      <li>Performance issues</li>
      <li>Port issues</li>
      <li>Screen issues</li>
  </strong></ul></h5>

  <h5><strong>Please be as detailed as possible when describing these issues so we can troubleshoot and follow up with you.</strong></h5>


  <div class="field">
    <%= f.text_field :comments, :size => 140 %>
  </div>

  <hr>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
