<%= form_for(computer) do |f| %>
  <% if computer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(computer.errors.count, "error") %> prohibited this computer from being saved:</h2>

      <ul>
      <% computer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4><div class="field">
    <%= f.label :owner, "Your name:" %>
    &nbsp
    <%= f.text_field :owner %>
    &nbsp&nbsp
    <%= f.label :status, "Computer's current status:" %>
    &nbsp
    <%= f.select :status, options_for_select(Computer.statuses.collect { |s| [s[0].humanize, s[0]] }, selected: @computer.status), {} %>
    &nbsp&nbsp
    <%= f.label :manufacturer, "Manufacturer:" %>
    &nbsp
    <%= f.select :manufacturer, Computer.manufacturers.keys.to_a.from(1) %>
</div></h4>

<hr>

<h4> <%=list%> Hold down the Windows logo key and press R, then type <code>cmd</code> into the window that appears and press Enter to open Command Prompt.</h4>
<h4>In Command Prompt, type <code>msinfo32</code> and press Enter to get a system information window. </h4>
  <div class "field">
    <%= f.label :name, "System Name:" %>
    &nbsp
    <%= f.text_field :name %>
    &nbsp&nbsp
    <%= f.label :model, "System Model:" %>
    &nbsp
    <%= f.text_field :model %>
    &nbsp&nbsp
    <%= f.label :product, "System SKU:" %>
    &nbsp
    <%= f.text_field :product %>
    &nbsp&nbsp
</br>
    <%= f.label :processor, "Processor (all we need is the number after the @ sign):" %>
    &nbsp
    <%= f.text_field :processor, :size=>"1" %> <strong>GHz</strong>
    &nbsp&nbsp
    <%= f.label :ram, "Installed Physical Memory (RAM):" %>
    &nbsp
    <%= f.text_field :ram, :size=>"1" %> <strong>GB</strong>
  </div>

<hr>

<h4> <%=list%> Click the + next to "Components", then click on the + next to "Storage", then click on "Drives." </h4>

  <div class="field">
    <%= f.label :space, "Size (under drive C):" %>
    &nbsp
    <%= f.text_field :space, :size=>"2" %> <strong>GB</strong> (1 TB = 1000 GB)
  </div>

 <hr>

<h4> <%=list%> Go back to Command Prompt and run <code>wmic bios get serialnumber</code> to get your computer's serial number. </h4>

  <div class="field">
    <%= f.label :serial, "Serial number:" %>
    &nbsp
    <%= f.text_field :serial %>
  </div>

  <hr>

<h4> <%=list%> Finally in Command Prompt, run <code>ipconfig /all</code>, then follow the instructions below to find the information you need. </h4>

  <div class="field">
    <%= f.label :wireless_mac, "Under \"Wireless LAN adapter Wi-Fi\" or \"Wireless LAN adapter Wireless Network Connection\", the twelve-character string labeled \"Physical Address\":" %>
    &nbsp
    <%= f.text_field :wireless_mac %>
  </div>

  <div class="field">
      <%= f.label :wired_mac, "<i>If your computer has an Ethernet port</i>: Under \"Ethernet adapter Local Area Connection\", the twelve-character string labeled \"Physical Address\".</br><i> Or, if you use a USB → Ethernet adapter</i>: Under \"Ethernet Adapter Ethernet\", the twelve-character string labeled \"Physical Address\".".html_safe %>
  </br>
      <%= f.text_field :wired_mac %>
  </div>

  <hr>

  <div class="field">
    <%= f.label :comments, "<h4>#{list} Any additional comments:</h4>".html_safe %>
    &nbsp
    <%= f.text_field :comments, :size => 140 %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
