<h3><u> <%=link_to "#{computer.title}", computer unless action_name == 'show' %> </u></h3>
<h4> <%= computer.possessive_name %> </h4>
<h4> <%= computer.specs %> </h4>
<h4> <%= computer.macs %> </h4>
<% if computer.comments %>
<h4><%= "Comments: \"#{computer.comments}\" -#{computer.comment_author}" %></h4>
<% end %>

<h5><u><%= link_to 'Overwrite', overwrite_computer_path(computer) if current_user.is_admin %></u><h5>
