<p id="notice"><%= notice %></p>

<h2> <%= "#{@computer.title} | " %>
<u><%= link_to 'Edit', edit_computer_path(@computer) %></u> </h2>
<%= render partial: 'root_computer', locals: {computer: @computer} %>
<% parent = @computer.parent %>

<% while !parent.nil? do %>
<%= render partial: 'history_computer', locals: {computer: parent} %>
<% parent = parent.parent %>
<% end %>
