<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @computer.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @computer.active %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @computer.owner %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @computer.manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @computer.model %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @computer.serial %>
</p>

<p>
  <strong>Product:</strong>
  <%= @computer.product %>
</p>

<p>
  <strong>Space:</strong>
  <%= @computer.space %>
</p>

<p>
  <strong>Processor:</strong>
  <%= @computer.processor %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @computer.ram %>
</p>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
