<nav class="navbar navbar-inverse">
<div class="container">
  <div class="navbar-header">
    <strong> <%= link_to 'FSENet Equipment Inventory', root_path, class: 'navbar-brand' %> </strong>
  </div>
  <div id="navbar">
    <ul class="nav navbar-nav pull-right">
    <% if current_user %>
        <%= render partial: 'layouts/admin_header' if current_user.is_admin %>
        <li><%= link_to "Computers", computers_path %></li>
        <li><%= link_to 'New Computer', new_computer_path %></li>
        <li><%= link_to "Log Out #{current_user.name}...", logout_path, method: :delete %></li>
    <% else %>
        <li><%= link_to 'Log in with Office 365', '/auth/office365' %></li>
    <% end %>
    <ul>
  </div>
</div>
</nav>
